<a href="{{ path('tour-package',{'slug':'cultural-tour'})}}" class="nav-link">Cultural Tours</a>
<a href="{{ path('tour-package',{'slug':'festival-tour'})}}" class="nav-link">Festival Tours</a>
<a href="{{ path('tour-package',{'slug':'adventure-tour'})}}" class="nav-link">Adventure Tours</a>
<a href="{{ path('tour-package',{'slug':'trekking-tour'})}}" class="nav-link">Trekking Tours</a>