{% extends 'admin.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="bg-danger text-white text-center p-3 rounded-1">
                                <i class="fa-solid fa-umbrella-beach"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h5>Tour packages</h5>
                            <p class="badge badge-danger">{{ total_tours_packages }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="bg-primary text-white text-center p-3 rounded-1">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h5>Destinations</h5>
                            <p class="badge badge-danger">{{ total_top_destinations }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="bg-success text-white text-center p-3 rounded-1">
                                <i class="fa-solid fa-hotel"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h5>Hotels</h5>
                            <p class="badge badge-danger">{{ total_hotels_in_bhutan }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="bg-info text-white text-center p-3 rounded-1">
                                <i class="fa-regular fa-newspaper"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h5>Blogs</h5>
                            <p class="badge badge-danger">{{ total_blogs }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}