{# <div style="display: none;"> #}
{# {{ form_widget(form.image_name,{'attr':{'class':'form-control'}})}} #}
{# </div> #}
{# <div class="add-image-wrapper">
    <div class="text-center pb-5 pt-5">
        <i class="fa-solid fa-plus fa-3x"></i>
        <p id="image-file-name-1" class="image-file-name">Browse file to upload</p>
    </div>
</div> #}